%tbody{'status' => 'hidden'}
  %tr
    %td
      = image_tag('icons/add.png', :width => 16, :height => 16, :class => 'toggle-arrow')
      = gene_link_output(@genes[gene]['gene_symbol'])
    %td{:colspan => 3}
      = gene_evidence_chart(@genes[gene])
  = render(:partial => "gene_searches/term.html.haml", :collection => @genes[gene]['terms'].keys, :locals => {:gene_hash => @genes[gene]})
  = render(:partial => "gene_searches/pathway.html.haml", :collection => @genes[gene]['pathways'].keys, :locals => {:gene_hash => @genes[gene]})
