Results
%br
.qtl-information
  Symbol:
  = @qtl_symbol
  %br
  Location:
  == #{@chromosome}:#{@starts_at}-#{@ends_at}
%br
%h3
  Genes
.grid-container
  .grid_23.alpha.omega
    %table.gene-table
      %tr.row-header
        %th{'width' => '15%'}
          Gene symbol
        %th{:colspan => 3, 'width' => '85%'}
          Match evidence
      = render(:partial => "gene_searches/gene.html.haml", :collection => @genes.keys.sort_by { |key| @genes[key]['gene_symbol'] })
